service: law-button-api

provider:
  name: aws
  runtime: nodejs24.x
  region: us-east-2 # Change this to your preferred AWS region

functions:
  app:
    handler: server.handler
    events:
      - http:
          path: button
          method: post
      - http:
          path: reset
          method: post
      - http:
          path: count
          method: get